@use '../styles/colors.scss' as colors;
@use '../styles/border.scss' as border;

.address-view {
  h3 {
    font-weight: 500;
    color: colors.$charcoal;
  }

  .selector {
    padding: 12px 16px;
    cursor: pointer;
    color: colors.$dark-gray;

    &:hover {
      opacity: 0.5;
    }

    &.selected {
      &:hover {
        opacity: 1;
      }
      font-weight: 600;
      color: colors.$charcoal
    }
  }

  .transaction, .lord {
    color: black;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}
